@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-container {
  background-image: url("../components/assets/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden !important;
  max-height: screen;
}

.table-border{
  border-top: 2px solid black;

}
